<VirtualHost *:80>
  ServerName  {{ domain }}
  {% if vhost.aliases is defined %}
  ServerAlias {{ vhost.aliases | join(' ') }}
  {% endif %}

  DocumentRoot {{ siteRootDir }}/{{ vhost.rootDir | default('') }}
  CustomLog    {{ logsDir }}/{{ domain }}-access.log combined
  ErrorLog     {{ logsDir }}/{{ domain }}-error.log

  <Directory {{ siteRootDir }}>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

