<VirtualHost *:80>
  ServerName  {{ vhost.domain }}
  {% if vhost.aliases is defined and vhost.aliases[0] is defined %}
  ServerAlias {{ vhost.aliases | join(' ') }}
  {% endif %}

  DocumentRoot {{ root }}

  <Directory {{ root }}>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

